In [4]:
# To identify common cuisine combinations and determine if they tend to have higher ratings,
# we will:
# 1. Split the 'Cuisines' column to handle combinations
# 2. Group by cuisine combinations and calculate their average rating
# 3. Display the most common combinations with their average rating

# Split the 'Cuisines' column and handle multiple cuisines
data['Cuisine Combinations'] = data['Cuisines'].str.split(', ')

# Explode the 'Cuisine Combinations' to handle each combination separately
data_exploded = data.explode('Cuisine Combinations')

# Group by the cuisine combinations and calculate average rating
cuisine_combinations_avg_rating = data_exploded.groupby('Cuisines')['Aggregate rating'].mean().reset_index()

# Find the most common combinations and sort by the frequency of occurrence
common_cuisines = data_exploded['Cuisines'].value_counts().reset_index()
common_cuisines.columns = ['Cuisines', 'Count']

# Merge the most common combinations with their average rating
common_cuisines_with_rating = pd.merge(common_cuisines, cuisine_combinations_avg_rating, on='Cuisines')

# Display the most common cuisine combinations with their ratings
common_cuisines_with_rating.head(10)

                                   Cuisines  Count  Aggregate rating
0                     North Indian, Chinese   1022          2.421722
1                              North Indian    936          1.672329
2                     North Indian, Mughlai    668          2.888623
3            North Indian, Mughlai, Chinese    591          2.568528
4                                 Fast Food    354          2.118362
5                                   Chinese    354          2.042090
6                          Bakery, Desserts    340          2.317647
7                                      Cafe    299          2.890970
8                          Pizza, Fast Food    262          2.629008
9  American, Fast Food, Salad, Healthy Food    248          2.900000